html{overflow-y: scroll;}
* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    background-color: lightgray;
    margin: auto;
    text-align: center;
}

/* 영역:1200px */

.container{
    width: 100%;
    margin: auto;
    background-color: white;
    opacity: .5;
    margin-bottom: 10px;
    padding:20px;
}

main{margin: 0 auto;}


html,body{height: 100%;}
.mainbanner{background-color: blue;}
.menu{background-color: yellowgreen;}

.event{background-color: lightskyblue;}
.onlineshop{background-color: grey;}
.startup{background-color:violet;}
.footer{background-color:orange;}