html{overflow-y: scroll; font-size: 62.5%;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.df {
    display: flex;
}

.dn {
    display: none;
}

.db {
    display: block;
}

ul {
    list-style: none;
}

.inner {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    left: 0;
}

/* nav */
nav {
    opacity: .8;
    height: 50px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(102, 205, 170, 1) 0px, rgba(102, 205, 170, 1) 50px,rgba(200, 255, 237, 1) 51px,rgba(200, 255, 237, 1) 100%);
    transition: all .5s; z-index: 99; padding-bottom:0px;
}
nav:hover{overflow: visible; height: auto; padding-bottom:50px;}

/* ul class=sub */

.gnb{display: flex; position: relative;}
.gnb a{display: block; color: black; padding: 16px;}
.gnb>li>a{color: rgb(150, 150, 150);}
.gnb li{width: 25%; text-align: center;}
.sub li{width: 100%; text-align: center;}

/* nav의 높이만큼 메인을 내려줘야함 */
main{top: 50px; position: relative;}