/* 공통클래스 */
.df {
	display: flex;
}

/* 팝업 */
.popup {
	display: block;
	position: fixed;
	z-index: 999;
	width: 50rem;
	height: 20rem;
	background: rgba(255, 255, 255, 0.8);
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border-radius: 10px;
	backdrop-filter: blur(20px);
	box-shadow: 0px 0px 5px var(--text1);
}

.popup .textbox {
	width: 100%;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	line-height: 1.75;
}

.popup .close {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.popup a {
	display: block;
}

/* main */

/* 메인배너 */
.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.main_banner img {
	width: 100%;
}

.bx-controls a {
	font-size: 2rem;
	background-color: white;
}

.bx-pager {
	position: absolute;
	display: flex;
	gap: 1rem;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

/* menu */
.menu .new_items {
	height: 50vw;
	/* 590px */
	background: url(./img/bg_news-item.png) -2vw -2vw no-repeat;
	background-size: 45vw;
}

/* 텍스트 감싸는 상자/글씨 세로 정렬 */
.menu .new_items ul.title_wrap {
	width: 38vw;
	padding-top: 6.25vw;
	padding-left: 4vw;
	margin-right: 10vw;
}

.menu .new_items ul.title_wrap .h2,
.onlineshop .h2 {
	font-size: 2.8vw;
}

.menu .new_items ul.title_wrap .h1 {
	font-size: 3.5vw;
}

.menu .new_items ul.title_wrap .caption {
	font-size: 1.2vw;
	color: #282828;
	width: 20vw;
	margin-bottom: 10vw;
}

.menu .new_items ul.title_wrap .more {
	font-size: 1vw;
	font-weight: bold;
	color: #282828;
}

.menu .new_items li,
.onlineshop .title_wrap {
	color: #ff592e;
}

.new_items_text {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.item_wrap {
	gap: 3vw;
}

.item_wrap li {
	padding: 10vw 0;
}

.item_wrap img {
	display: block;
	margin: auto;
}

.new_items_text span {
	letter-spacing: -1px;
}

.new_items_text span:nth-child(1) {
	font-size: 1.3vw;
	font-weight: bold;
}

.new_items_text span:nth-child(2) {
	font-size: 0.8vw;
}

.new_items_text span:nth-child(3) {
	color: black;
	font-size: 0.8vw;
	line-height: 1vw;
}

/* //menu:음료 구간 */

/* 온라인 샵 */
.onlineshop {
	height: 45vw;
	background: url(./img/bg_signature-item.png) 45vw 2vw no-repeat;
	background-size: 55vw;
	letter-spacing: -1px;
}

.onlineshop ul.title_wrap {
	width: 30vw;
	padding-top: 6.25vw;
	padding-left: 4vw;
	margin-right: 10vw;
	line-height: 2;
}

.onlineshop .h1 {
	color: black;
	font-size: 1.3vw;
	font-weight: bold;
}

.onlineshop .caption {
	color: black;
	font-size: 1.3vw;
	font-weight: lighter;
}

.onlineshop .more {
	color: ff592e;
	font-size: 1.3vw;
	padding: 0.8vw;
	border: 1px solid;
	margin: 3vw 0;
	text-align: center;
	width: 14vw;
	font-weight: bold;
}

/* //온라인샵 */

/* 이벤트 공지 */
.event {
	height: 40vw;
	padding: 4vw;
}

.event .event_box h1 {
	color: #ff592e;
	text-align: center;
	font-weight: bold;
}

.event .event_box img {
	width: 100%;
}

.event_box li:last-child img {
	margin-right: 0;
}

.event .event_box .box1 {
	width: 50%;
	padding: 2rem;
	margin-right: 2rem;
	margin-left: 1.4rem;
	border: 1.5px solid #ff592e;
	text-align: left;
	font-weight: bold;
}

.event .event_box .box2 {
	width: 50%;
	padding: 2rem;
	margin-right: 2rem;
	margin-left: 1.4rem;
	border: 1.5px solid #ff592e;
	text-align: left;
	font-weight: bold;
}

.event .event_box .box3 {
	width: 50%;
	padding: 2rem;
	margin-right: 2rem;
	margin-left: 1.4rem;
	border: 1.5px solid #ff592e;
	text-align: left;
	font-weight: bold;
}

.notice_tag1 {
	color: #ff592e;
	font-size: 100%;
}

.notice_tag2 {
	color: #ff592e;
}

/* //이벤트 공지 */

/* 가맹점 개설 리디자인 */

.startup-re {
	display: none;
	height: auto;
	padding: 4rem;
	border: 1px solid blue;
}

.startup-box {
	position: relative;
	justify-content: space-between;
	gap: 40px;
}

.left-banner {
	position: relative;
	display: flex;
	height: 25vw;
	background: lightgray;
	border-radius: 25px;
	align-items: center;
	border: 1px solid blue;
	justify-content: space-between;
}

.left-content {
	display: flex;
	flex-direction: column;
	gap: 58px;
	border: 1px solid blue;
	flex: 1;
}


.left-content>.table-text {
	display: flex;
	margin-left: 65px;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
}


.view-btn {
	margin-left: 60px;
	width: 140px;
	height: 60px;
	padding: 15px;
	border: none;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.mobile {
	width: 380px;
	height: 380px;
	background: url(./img/mobile_device.png) no-repeat;
	background-size: cover;
	/* border: 1px solid blue; */
}

.right-banner {
	display: flex;
	background: #FF592E;
	width: 50%;
	height: 25vw;
	justify-content: flex-end;
	align-items: center;
	border-radius: 25px;
	border: 1px solid blue;
}

.right-content {
	margin-left: 65px;
	display: flex;
	height: 25vh;
	align-items: center;
	/* border: 1px solid blue; */
}

.search-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 68px;
}

.search-content>.table-text2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}

.table-text2>p:nth-child(1) {
	color: #fff;
	font-family: NanumSquare Neo;
	font-size: 45px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.table-text2>p:nth-child(2) {
	color: #fff;
	font-family: NanumSquare Neo;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	/* 160% */
}

/* 인풋태그 */
.search-section>input {
	display: flex;
	background: lightgray;
	padding: 15px 15px 13px 13px;
	justify-content: center;
	align-items: flex-start;
	border: none;
	border-radius: 50px;
	gap: 106px;
}

.spot-content {
	width: 300px;
	height: 380px;
	background: url(./img/navi-img.png)no-repeat;
}

/* 가맹점 개설 */
.startup {
	height: 30vw;
	padding: 4rem;
	background: url(./img/bg_supporter.jpg) no-repeat;
}

.startup .startup_text1 {
	color: #ff592e;
	font-size: 250%;
	font-weight: bold;
}

.startup .startup_text2 {
	width: 50%;
	font-size: 120%;
	margin-top: 2rem;
}

.startup .startup_button {
	display: inline-block;
	font-weight: bold;
	font-size: 120%;
	padding: 1.5rem 2.5rem;
	margin-top: 3rem;
	color: #282828;
	border: solid 1px #282828;
}

/* // 가맹점 개설 */

/* search */

.col {
	flex: 1 1 50%;
	height: 30vw;
}

.col.left {
	background: lightgray;
	background: #f0eae8 url(./img/table_order.png) no-repeat left top;
	background-size: contain;
}


.col.right {
	background: #FF592E;
	background: #ff0000 url(./img/search_img.png) no-repeat left top;
	background-size: contain;
}

/* footer 영역 */
.footer {
	width: 100%;
	height: 30vw;
	padding: 10rem;
	background-color: #fff(146, 146, 255);
}

.footer .footer_info {
	width: 100%;
}

.footer .footer_info img {
	width: 20%;
	margin-right: 20%;
}

.footer .inner .footer_info {
	display: flex;
}

.footer .inner .footer_info ul {
	display: flex;
	color: #282828;
	flex-direction: column;
	margin-top: 2rem;
	margin-right: 6rem;
}

.footer .inner .footer_info ul li strong {
	display: block;
}