* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.df {
	display: flex;
}

.dn {
	display: none;
}

.db {
	display: block;
}

ul {
	list-style: none;
}

.inner {
	width: 100%;
	max-width: 1400px;
	margin: auto;
}

/* nav */
nav {
	opacity: 0.8;
    height:5vw;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background: #ffffffc0;
	transition: all 0.5s;
	z-index: 99;
	padding-bottom: 0px;
}
nav:hover {
	overflow: visible;
	height: 16vw;
	padding-bottom: 50px;
}

/* 로고 넣음 */
nav > .gnb li.logo a {
	display: block;
	background: url(./img/dalkomm.svg) no-repeat center center;
	overflow: hidden;
	font-size: 0px;
	text-indent: -9999px;
	margin-left: 20px;
	padding: 4rem;
}

/* ul class=sub */

.gnb {
	display: flex;
	position: relative;
	height: 100%;
}
.gnb li{
    height:5vw;
    line-height: 5vw;
}
.gnb a {
	display: block;
	color: #222;
	font-weight: bold;
}
.gnb > li > a {
	color: #222;
	font-weight: bold;
}
.gnb li {
	width: 25%;
	text-align: center;
}
.sub{
    padding:2rem;
}
.sub li {
	width: 100%;
	text-align: leftC;
    height: 5rem;
    line-height: 5rem;
}

/* nav의 높이만큼 메인을 내려줘야함 */
main {
	position: relative;
}

.gnb li a span {
	color: #ffffff;
	background-color: #ff592e;
	border-radius: 15px;
	padding: 8px 10px;
}

.gnb li a:hover {
	color: #ff592e;
}

footer {
	color: #fff;
}
